@charset "UTF-8";
/* RESET CSS */
* {
  padding: 0;
  margin: 0; }

/* MAPS*/
/*ANIMACIONES*/
.nav {
  animation-name: nav;
  animation-duration: 1s; }

@keyframes nav {
  0% {
    transform: translateY(-50px); }
  100% {
    transform: translateY(0px); } }

/*INDEX TAMAÑOS*/
aside h2 {
  padding-top: 20px; }

aside img {
  margin-top: 35px;
  width: 100%;
  height: 50vh; }

/*DIVIDER SECTIONS INDEX*/
.divider {
  height: 3vh;
  border-bottom: 3px solid #ffc107;
  border-top: 3px solid #ffc107; }

/*FORMULARIO TAMAÑOS*/
#formc div label {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 3px; }

#formc div input {
  height: 7vh; }

#formc div button {
  padding: 10px 40px;
  margin-top: 10px;
  margin-bottom: 3px; }

.section-contactos, .p-inicio {
  padding-bottom: 25px; }

/*EACH CON MAP */
.section-inicio {
  background-image: url(../img/inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.section-inicioDos {
  background-image: url(../img/saunde-index.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.section-inicioTres {
  background-image: url(../img/ubicacion.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.section-inicioCuatro {
  background-image: url(../img/juzzy-inicio.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.section-acerca {
  background-image: url(../img/acerca.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/*ESTILOS GENERALES*/
/*INDEX*/
.nav div div ul li:hover {
  background-color: #ffc107;
  border-radius: 100px; }

.section-inicio {
  padding-bottom: 40px;
  overflow: hidden;
  background-attachment: fixed;
  background-position: top; }
  .section-inicio div div h1 {
    padding-top: 10px;
    padding-bottom: 40px; }

.p-inicio {
  color: black; }

#tienda {
  background-attachment: fixed;
  background-position: center;
  overflow: hidden; }

#section-inicioTres {
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1; }
  #section-inicioTres img {
    overflow: hidden;
    background-size: cover; }

.section-inicioCuatro {
  background-attachment: fixed;
  background-position: center; }

/*ACERCA DE NOSOTROS*/
.section-acerca {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
