/* MAPS*/

$bgimage: (
    /*clave   valores */
    inicio:  url(../img/sundy.jpg),
    inicioDos: url(https://cdn11.bigcommerce.com/s-cke7vub6/images/stencil/original/carousel/89/Carousel_Store_10262018.png?c=2),
    acerca:  url(https://yt3.ggpht.com/ytc/AKedOLRAcE-fGGMlNLWk5l_Km-L0EwOB3B3G5cZWwDkm1w=s900-c-k-c0x00ffffff-no-rj),

)


