/* MAPS*/

$bgimage: (
    /*clave   valores */
    inicio:  url(../img/inicio.jpg),
    inicioDos: url(../img/saunde-index.jpg),
    inicioTres: url(../img/ubicacion.jpg),
    inicioCuatro: url(../img/juzzy-inicio.jpg),
    acerca:  url(../img/acerca.jpg),

)


