//variables

$color: #ffc107;

//import

@import "mixins-extends";

//tamaños

/*INDEX TAMAÑOS*/
aside {
    h2{
        padding-top: 20px;
    }
    img{
        margin-top: 35px;
        width: 100%;
        height: 50vh;
    }
}

/*DIVIDER SECTIONS INDEX*/

//MIXIN

.divider{
    @include divider (3vh, 3px solid $color, 3px solid $color)
} 


/*FORMULARIO TAMAÑOS*/

#formc {
    div {
        label{
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: 3px;
        }
        input{
                height: 7vh;
            }
            button{
                padding: 10px 40px;
                margin-top: 10px;
                margin-bottom: 3px;
        }
    }
}

.section-contactos{
    padding-bottom: 25px;
}

