/* RESET CSS */

* {
    padding: 0;
    margin: 0;
}

//import

@import "maps";
@import "mapget";
@import "animaciones";
@import "tamaños";
@import "mixins-extends";


//variables

$color: #ffc107; 

/*EACH CON MAP */

@each $name-bgimages, $urls in $bgimage{
    .section-#{$name-bgimages}{
        background-image: $urls;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*ESTILOS GENERALES*/ 

/*INDEX*/ 




.nav{
    div{
        div{
            ul{
                li {
                    &:hover{
                        background-color: $color;
                        border-radius: 100px;
                        
                    }
                }

            }
        }
    }
}

//MAPGET

.section-inicio {
    padding-bottom: map-get($cambios , paddingb);
    overflow: map-get($cambios , over );
    background-attachment: map-get($cambios , bga );
    background-position:map-get($cambios , bgp );
    div {
        div{
            h1{
                padding-top: 10px;
                padding-bottom: 40px;
            }
        }
    }
    
}

//FIN MAP GET

//EXTEND

.p-inicio{
    @extend .section-contactos;
    color: black;
}

//FIN EXTEND

#tienda{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#section-inicioTres{
    background-attachment: fixed;
    overflow: hidden;
    z-index: 1;
    img{
        overflow: hidden;
        background-size: cover;
    }
}

/*ACERCA DE NOSOTROS*/

.section-acerca {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




