/* RESET CSS */

* {
    padding: 0;
    margin: 0;
}

//import

@import "animaciones";
@import "tamaños";
@import "maps";

//variables

$color: #ffc107; 

/*EACH CON LOS MAPS */

@each $name-bgimages, $urls in $bgimage{
    .section-#{$name-bgimages}{
        background-image: $urls;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*ESTILOS GENERALES*/ 

/*INDEX*/ 




.nav{
    div{
        div{
            ul{
                li {
                    &:hover{
                        background-color: $color;
                        border-radius: 100px;
                        
                    }
                }

            }
        }
    }
}

.section-inicio {
    padding-bottom: 40px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position:top;
    div {
        div{
            h1{
                padding-top: 10px;
                padding-bottom: 40px;
                font-family: "The Nautigal";
            }
            #sunnyvideo{
                padding-top: 20px;
            }
        }
    }
    
}

#tienda{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/*ACERCA DE NOSOTROS*/

.section-acerca {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




