/*TIPO DE FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=The+Nautigal&display=swap');
/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    
}

    /*FLEX */

.ep{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 5vh;
    justify-content: center;

    
}


/*ESTILOS GENERALES*/

/*INDEX*/
    
.nav ul li:hover {
        background-color: blueviolet;
        border-radius: 100px;
}


.publicidad {
    border: 2px solid black;
}

.section {
    padding-bottom: 40px;
    overflow: hidden;
    background-image: url(../img/sundy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: .7;
    
}

.section div p {
    font-weight: bold;
    color:black
}


.section div h1 {
    padding-top: 10px;
    padding-bottom: 40px;
    text-decoration: underline;
    font-family: 'The Nautigal';
}

#sundyvideo{
    padding-top: 20px;
}

.divider{
    height: 5vh;
    border-bottom: 3px solid blueviolet;
    border-top:  3px solid blueviolet;
}



#tienda{
    background-image: url(https://cdn11.bigcommerce.com/s-cke7vub6/images/stencil/original/carousel/89/Carousel_Store_10262018.png?c=2);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    
}




aside a {
    text-align: center;
}

aside a img{
    margin-top:35px;
    width: 100%;
    height: 50vh;
}

/*ACERCA DE NOSOTROS*/

.section2 {
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLRAcE-fGGMlNLWk5l_Km-L0EwOB3B3G5cZWwDkm1w=s900-c-k-c0x00ffffff-no-rj);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bold;
    color: whitesmoke;
}

/* FORMULARIO*/

.form div label{ 
    color: white;
    padding-top: 5px;
    padding-bottom: 3px;

}

.form div input {
    height: 7vh;
}

.form div button {
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 3px;
}

.inform {
    color:white
}

.section5{
    border-bottom: 2px solid rgb(241, 245, 245);
}