/*TIPO DE FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=The+Nautigal&display=swap');
/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    
}

/*AREAS DE GRID*/

header{
    grid-area: header;
}

nav {
    grid-area: nav;
}

section{
    grid-area: section;
    
}

aside{
    grid-area: publicidad;
    border: solid 2px black
}

footer{
    grid-area: footer;
}


/*RESPONSIVE*/


/* MEDIA QUERIES*/


/* SMARTPHONE*/

@media (max-width: 480px) {

    /*GRID*/

    

    .cuerpo {display: grid;

        grid-template-areas: 
        "header"
        "nav"
        "section"
        "footer" ;
        grid-template-columns: 1fr;
        height: 100vh;
        width: 100%;
    }
    

    .header{
        display: grid;
        justify-content: center;
        align-content: center;
        height: 10vh;
    }

    .nav{
        display: grid;
        align-content: center;
    }

    #grid-formulario{
        display: grid;
        height: 40vh;
        align-content: center;
    } 

    /*FLEXBOX*/

    .footer {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        
    }

    

    .redes{
        display: flex;
        flex-direction: row;
    }

    /*ESTILOS GENERALES*/

    body {
        background-color: #ff4e00;
        background-image: linear-gradient(to right, #ff4e00 0%, #ec9f05 74%)
    }

    .header {
        font-family: 'The Nautigal', cursive;
        font-size: 25px;
    }
    .header h1 a {
        color: black;
        text-decoration: none;
    }
   
    .nav{
        background-color: black;
        padding-left: 25px;
    }

    nav li:hover {
        background-color: #ff4e00;
        margin-right: 200px;
    }
    .nav a{
        color: white;
    }
    ul{
        list-style-type: none;
    }

    .sectionDiv iframe{
        width: 300px;
        height: 150px;
    }

    section div {
        text-align: center;
        margin: 15px;
    }

    section div img {
        border-radius: 150px;
        border: 5px solid black;
    }

    .section h1 {
    
        text-align: center;
        color: black;
        text-decoration: underline;
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    

    aside{
        display: none;
    }

    .redes {
        width: 100px;
    }

    .footer {
        border-top: black 2px solid;
        margin-top: 200px;
    }

    footer div img {
        width: 35px;
    }
}

/*TABLET*/
 
@media (min-width: 481px) and (max-width: 1023px) {
    

    /*GRID*/

    .cuerpo {display: grid;

        grid-template-areas: 
        "header  nav      nav"
        "section section  section"
        "footer  footer   footer" ;
        grid-template-rows: 0.5fr  1fr  1fr ; 
        grid-template-columns: 0.5fr 0.8fr  0.8fr ;
        height: 100vh;
    }

    #grid-conteinerProductos {
        display: grid;
        grid-template-columns: 200px 200px;
        justify-content: space-around;
        text-align: center;
        align-content: center;
        height: 425px;
        
        }

    .header{
        display: grid;
        justify-content:center;
        align-content: center;
        width: 200px;
    }

    
   
    /*FLEXBOX*/

    

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-end;
        height: 10vh;
        
    }
    

    /*ESTILOS GENERALES*/
    body {
        background-color: #ff4e00;
        background-image: linear-gradient(to right, #ff4e00 0%, #ec9f05 74%)
    }

    #conteinerhn {
        border-bottom: 2px black solid;
    }

    .header {
        font-family: 'The Nautigal', cursive;
        font-size: 25px;
        
    }
    .header h1 a {
        color: black;
        text-decoration: none;
    }

    nav {
        border-bottom: black 2px solid;
        border-left: black 2px solid;
    }

    nav li:hover {
        background-color: black;
        padding: 5px;
        text-decoration: underline;
    }
    ul a{
        text-decoration: none;
    }

    nav div ul li {
        padding: 2px;
        list-style-type: none;
        text-align: center;
    }

    section div {
        font-family: sans-serif;
        text-align: center;
    }

    .section {
        margin-top: 75px;
    }

    .sectionDiv iframe{
        width: 400px;
        height: 200px;
        margin-top: 30px;
        border: 20px solid black;
        
    }
    .sectionDiv p{
        margin-top: 25px;
    }

    section div img {
        border-radius: 150px;
        border: 5px solid black;
    }

    .section h1 {
    
        text-align: center;
        color: black;
        text-decoration: underline;
        font-size: 25px;
        margin-bottom: 30px;
    }

    .section div div p {
        padding: 24px;
    }

    .aside {
        display: none;
    }

    .footer {
        border-top: 2px solid black;
        margin-top: 160px;


    }

    footer div img {
        width: 50px;
    }

    
    
    
    fieldset {
        padding: 50px;
        border: 4px solid black;
    }
    
    #button {
        padding-right: 125px;
    }

    .redes{
        margin-top: 3px
    }
}

/*DESKTOP*/


    /*FLEX */

.ep{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 5vh;
    justify-content: center;

    
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


/*ESTILOS GENERALES*/
    
nav ul li:hover {
        background-color: blueviolet;
        border-radius: 100px;
}

