/*TIPO DE FUENTE*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=The+Nautigal&display=swap');
/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    
}

    /*FLEX */

.ep{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 5vh;
    justify-content: center;

    
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


/*ESTILOS GENERALES*/
    
nav ul li:hover {
        background-color: blueviolet;
        border-radius: 100px;
}


.publicidad {
    border: 2px solid black;
}

.section {
    height: 90vh;
}

div h1 {
    padding-top: 10px;
    padding-bottom: 40px;
    text-decoration: underline;
}



aside a {
    text-align: center;
    overflow: hidden;
    
}

aside a img{
    margin-top:35px;
    width: 100%;
    height: 50vh;
}

